@model List<IntroAsp.Models.Beer>

<h1>Cervezas</h1>

<p>
    <a asp-controller="Beer" asp-action="Create">Crear</a>
</p>

<table class="table">
    <thead>
        
            <tr>
                <th>Nombre</th>
                <th>Marca</th>
            </tr>
    </thead>
    <tbody>
        @foreach (var beer in Model)
        {       
            <tr>
                <td>
                    @Html.DisplayFor(m => beer.Name)    
                </td>
                <td>
                    @Html.DisplayFor(m => beer.ID_BrandNavigation.Name)
                </td>
            </tr>

        }

    </tbody>

</table>